$color-primary: #242424;
$color-secondary: #282e3c;
$color-tertiary: #505c7c;
$color-soft: #fdff00;
$color-background: #4e4e4e;
$color-body: #e4e4e4;
$color-light: white;
$color-shadow: rgba(0, 0, 0, 0.2);
