.c-card * {
  display: block;
  box-sizing: border-box;
}

.c-card {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  margin: 20px;

  text-align: left;
  background: $color-light;
  box-shadow: 0 6px 10px -5px $color-shadow;

  &__image {
    width: 340px;
    height: 500px;
  }

  &__body {
    padding: 20px;

    span {
      display: inline-block;
      margin-right: 5px;
      background: $color-background;
      color: $color-light;
      padding: 1px 3px;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 13px;
    margin-top: 5px;
    padding: 0;
  }

  &__intro {
    margin-bottom: 0;
    max-width: 500px;
  }

  &__footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    span {
      display: inline-block;
      margin: 0 5px;
      background: $color-background;
      color: $color-light;
      padding: 2px 4px;
    }
  }
}
.card-container {
  max-width: 900px;
  margin: 0 auto;
}
.c-card--wide {
  max-width: 100%;
}

.c-card {
  img {
    @media screen and (min-width: 375px) {
      float: none;
      max-width: 100%;
    }
  }
  &__header {
    float: left;
  }

  &__body {
    float: left;
    padding-top: 30px;
    max-width: 60%;
    @media screen and (min-width: 375px) and (max-width: 675px) {
      max-width: 90%;
    }
  }
  &__footer {
    clear: both;
    text-align: center;
  }
}
